body{
    margin: 10px;
}

/* this is a psuedo class selector */
/* article :first-child {
    font-size: 140%;
    font-style: italic;
} */

/* this selector targets the first occurance of element types*/
/* article :first-of-type {
    font-size: 140%;
    font-style: italic;
} */

/* this is going to get the first occurance of the element */
/* article p:first-of-type {
    font-size: 140%;
    font-style: italic;
} */

/* this targets the last paragraph element */
/* article p:last-of-type {
    font-style: bold;
} */

/* does the same as the one above  */
article p:last-child {
    font-style: bold;
}

/* we want to get the odd items in the list  */
/* this selector is like a function we can pass a value or agruement here to target certain elements */
ul li:nth-child(odd){
    color: salmon;
}

/* for visited link and all links  */
a:visited, a:link{
    color: dodgerblue;
}

/* As a best practice whenever we use the hover psuedo selector we follow it with it with focus` */
a:hover, a:focus{
    color: forestgreen;
}